[submodule "_submodules/bootstrap"]
	path = _submodules/bootstrap
	url = https://github.com/twbs/bootstrap

[submodule "_submodules/bootswatch"]
	path = _submodules/bootswatch
	url = https://github.com/thomaspark/bootswatch/
