
@import "libs/bootswatch/flatly/variables.less";

@font-family-sans-serif:  "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       @font-family-sans-serif;

@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-serif;

@headings-font-family:    @font-family-sans-serif;

@font-size-base: 21px;

@font-header-base: 19px;

@brand-primary: #3c4251;

@font-size-h1:            floor((@font-header-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-header-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-header-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-header-base * 1.25)); // ~18px
@font-size-h5:            @font-header-base;
@font-size-h6:            ceil((@font-header-base * 0.85)); // ~12px