---
layout: default
---

<div id="blog-container">
	<div id="top-bar">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-2" id="logo">
					<span id="sudo">sudo</span><br>
					<span id="philosophical">PHILOSOPHICAL</span>
					<span>by Paul Jones</span>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="background-color:white;">
		<div class="row">
					<div class="col-md-7 col-md-offset-2" id="blog">
				<dl>
					{% for post in paginator.posts %}
						<dt><h1>{{ post.title }}</h1></dt>
						<dd>{{ post.content }}</dd>
					{% endfor %}
				</dl>

				<!-- Pagination links -->
<ul class="pager">
  <li class="previous">
  {% if paginator.previous_page %}
    <a href="/blog/page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% endif %}
  </li>
  <li class="next">
  {% if paginator.next_page %}
    <div class="pull-right"><a href="/blog/page{{ paginator.next_page }}" class="next">Next</a></div>
      {% endif %}

  </li>
</ul>
	        </div>
			<div class="col-md-2">
				<ul class="list-unstyled" id="blog-sidebar">
					<li><a href="../">Home</a></li>
					<li><a href="mailto:paulmmj@gmail.com">Contact</a></li>
					<li><a href="">RSS</a></li>
					<li><a href="http://twitter.com/PLJNS">Twitter</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>